@import url(https://fonts.googleapis.com/css?family=Ubuntu);

html, body {
	height: 75%;
	margin: 0;
	font-size: 20px;
	font-family: "Ubuntu", sans-serif;
	font-weight: 400;
	line-height: 1.8em;
	color: white;
	word-spacing: 0.3em;
}

.navbar {
	background: linear-gradient(#3f3f3f, #111111);
	top: 0;
	width: 100%;
	overflow: hidden;
	position: fixed;
	z-index: 2;
}

.navbarItems {
	margin: 0;
	list-style-type: none;
	text-align: center;
}

.navbarItems li {
	display: inline;
	padding-right: 8px;
	padding-left: 8px;
}

.navbarItems li button {
	color: white;
	text-decoration: none;
	background: none;
	border: none;
	padding: 20px 15px;
	font-size: 16px;
	font-weight: bold;
	-webkit-transition-duration: 0.2s;
  	transition-duration: 0.2s;
  	float: left;
  	outline: none;
}

.navbarItems li button:hover {
	color: #909090;
	background: linear-gradient(#303030, #000000);
}

.navbarItems li button:active {
	color: #959595;
	background: linear-gradient(#101010, #000000);
}

.navbarItems li button a {
	color: white;
	text-decoration: none;
	font-size: 16px;
}

.hidden {
	background: linear-gradient(#3f3f3f, #111111);
	text-align: center;
}

.hidden .showMenu {
	color: white;
	text-decoration: none;
	background: linear-gradient(#3f3f3f, #111111);
	border: none;
	padding: 20px 15px;
	font-size: 16px;
	font-weight: bold;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	outline: none;
}

.hidden .showMenu:hover {
	color: #909090;
	background: linear-gradient(#303030, #000000);
}

.hidden .showMenu:active {
	color: #959595;
	background: linear-gradient(#101010, #000000);
}

.img1, .img2, .img3, .img4, .abtImg1 {
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	position: relative;
}

.img1 {
	background-image: url(code.jpg);
	min-height: 100%;
}

.img2 {
	background-image: url(speed.jpg);
	min-height: 400px;
}

.img3 {
	background-image: url(smart.jpg);
	min-height: 400px;
}

.img4 {
	background-image: url(team.jpg);
	min-height: 400px;
}

.abtImg1 {
	background-image: url(about.jpg);
	min-height: 400px;
}

.border, .border2, .border3, .border4 {
	background-color: #111;
	color: #fff;
	margin: 20px;
	padding: 20px;
}

.imgtxt, .imgtxt2, .imgtxt3, .imgtxt4, .abtImgTxt {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	color: #f0f0f0;
	font-size: 27px;
	letter-spacing: 8px;
	font-variant: small-caps;
}

#phButton {
	background-color: #111111;
	color: white;
	border: 1px solid white;
	height: 50px;
	width: 150px;
	font-size: 1.25em; 
	font-family: 'ubuntu', 
	sans-serif;
	font-weight: bold;
	outline: none;
}

#phButton:hover {
	background-color: #333333;
}

#phButton:active {
	background-color: #555;
	font-size: 1.2em;
}

.foreground {
	padding: 30px;
	background-color: #111111;
	text-align: center;
}

.info {
	color: white;
}

.bottom {
	background-color: #111111;
	font-size: 12px;
	text-align: center;
	margin: 0;
}

.bottom ul {
	list-style-type: none;
}

.bottom ul li {
	display: inline;
}

.bottom ul li a {
	color: #3f3f3f;
	text-decoration: none;
	padding-right: 8px;
	padding-left: 8px;
}

.bottom ul li a:hover {
	color: blue;
}
